*{
    margin: 0px;
    font-size: 15px;
    font-family: 'Almarai', sans-serif;}
main{
   
    background-color: rgb(4, 0, 255);
    width: 360px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    border-radius: 20px;
    border: 10px solid rgb(6, 211, 23);
    
}
header{
    border-radius: 20px;
    height: 300px;
    background-color: rgb(234, 250, 18);
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 5px;

}
header img {
    height: 150px;
}
header h2{
    background-color: darkgoldenrod;
    border-radius: 10px;
    margin: 8px;
 
}
header h1{
    background-color: rgb(11, 184, 49);
    border-radius: 10px;
    margin: 8px;
 
}
header p{
  
    border:  3px solid rgb(10, 81, 233);
    height: 40px;
    border-radius: 10px;
    background-color: rgb(7, 7, 6);
    text-align:center;
    line-height: 50px;
    margin: 8px;
}
#content{
    border:  3px solid rgba(46, 44, 180, 0);
    text-align: center;
    border-radius: 10px;
    margin: 2px;
}
#buttons{
    border:  5px solid rgb(0, 255, 115);
    border-radius: 20px;
    background-color: rgb(222, 226, 2);
    text-align: center;
    margin: 2px;
    

}
#buttons img{
    animation: reverse;
    background-color: rgb(238, 93, 10);
    width: 30px;
    height: 30px;
    padding: 20px;
    border:2px solid rgb(5, 9, 243);
    border-radius: 70px;
    margin: 2px;
}
#range{
    text-align: center;
    border-radius: 70px;
    background-color: rgb(232, 248, 0);
    border: 3px solid rgb(11, 219, 122)
    
}
input[type="range" i] {
    -webkit-appearance: none;
    height: 5px;
    width: 70%;
  margin: 2px;
    background: rgb(63, 2, 230);
}
input[type="range"] ::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: 4px solid rgb(10, 216, 45);
    border-radius: 10px;

}
#niveau{
    color: rgb(206, 8, 130);
    border-radius: 10px;
    width: 40px;
    background: rgba(128, 255, 0, 0.918);
    text-align: center;
    font-family: 'Rakkas', cursive;
    margin: 2px;
}

#playbackniveau{
    color: rgb(255, 20, 20);
    border-radius: 10px;
    width: 40px;
    background: rgba(86, 228, 4, 0.918);
    text-align: center;
    font-family: 'Rakkas', cursive;
    margin: 2px;
}
button{

background-color: rgb(49, 255, 49);
border: 4px solid rgb(226, 50, 217);
border-radius: 30px;
margin: 2px;
}